body,h1,h2,h3,h4,h5,h6,p {margin: 0;}

article {
  /* bdw bds bdc */
  /* -top -right -bottom -left */
  border: 10px solid mediumpurple;
  
  /* border-width: 10px; */
  /* border-style: double; */
  /* border-color: mediumpurple; */
  
  /* TL TR BR BL */
  border-radius: 20px 0 20px 0;
  
  /* -top -right -bottom -left */
  /* top left&right bottom */
  /* top&bottom left&right */
  margin: 50px 20px;

  /* Logical Properties */

  /* -block top&bottom */
  margin-block: 50px;

  /* -inline left&right */
  margin-inline: 20px;

  padding: 50px;
}

h2 {
  border: 10px dotted khaki;
  margin: 10px 5px;
  padding: 10px 5px;
}

p {
  border: 10px groove turquoise;
  margin: 10px 5px;
  padding: 10px 5px;
}

div {
  display: flex;
  justify-content: center;
}