html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;

  /* CSS HEX */
  --black: #071013;
  --white: #ecebe4;
  --primary: #6ba368;
  --secondary: #666a86;
  --accent: #16f4d0;
  --accent-hover: hsl(170, 91%, 77%);
}

*, *::before, *::after {box-sizing: inherit;}

body,h1,h2,h3,h4,h5,h6,p {margin: 0;}

body {
  width: inherit;
  height: inherit;
}

/* trf = Transform */
/* scale translate rotate skew */
#parent > :nth-child(1):hover {
  background-color: var(--accent-hover);
  transform: scale(50%, 50%);
}

/* trs = Transition */
#parent > :nth-child(1) {
  background-color: var(--accent);
  transition: 
  background-color 300ms, 
  transform 300ms;
}

#parent > :nth-child(2) {
  background-color: var(--black);
  animation-delay: 0.5s;
}

#parent > :nth-child(3) {
  background-color: var(--white);
  animation-delay: 1s;
}

#parent > :nth-child(4) {
  background-color: var(--primary);
  animation-delay: 1.5s;
}

#parent > :nth-child(5) {
  background-color: var(--secondary);
  animation-delay: 2s;
}

#parent {
  width: 100%;
  height: 100%;
}

#parent > * {
  height: 20%;
}

#parent,
#parent > * {
  width: 100%;
  /* height: 100%; */
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  font-family: sans-serif;
  font-size: 50px;
}

#parent > * {
  animation: fade-in-top 1s linear 0s 1 normal none;

  animation-name: rotate-out-center;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

/* ani = animation */
/* angrytools.com/css/animation */
@keyframes fade {			
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fade-in-top {			
  0% {
    transform:translateY(-50px);
    opacity:0;
  }
  100% {
    transform:translateY(0);
    opacity:1;
  }
}

@keyframes rotate-out-center {
  0% {
    transform:rotate(-360deg);
    opacity:1;
  }
  100% {
    transform:rotate(0);
    opacity:0;
  }
}